<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IGPService">
                    <security mode="None" />
                </binding>
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/GP_PLCs_Services" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IGPService" contract="GP_PLCs.IGPService"
                name="NetNamedPipeBinding_IGPService" />
        </client>
    </system.serviceModel>
</configuration>